<ion-view title="Countdown" id="page8">
  <ion-nav-buttons side="left" class="has-header">
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-close"></button>
  </ion-nav-buttons>

  <ion-content id="contentCamera" padding="true" class="has-header" ng-controller="countdownCtrl">
    <div style="width: 400px; height:400px">
      <p><img id="originalPicture"/></p>
    <img ng-show="imgURI != undefined" ng-src="{{imgURI}}" width="300" height="300" style="vertical-align: middle;"/>
    </div>
    <div align="center" style="font-size: 70px;"> {{counter}}</div>

    <ion-footer-bar class="bar-calm">
      <div class="buttons">
        <button id="countdown-button46"
                class="button"
                ng-click="playCountdown()">Start Countdown</button>
      </div>
    </ion-footer-bar>
  </ion-content>
</ion-view>
