<ion-view title="Countdown" id="page8">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-close"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="countdown-container8" class="creator-container"></div>
    <button id="countdown-button46" style="font-weight:600;" class="button button-positive  button-block icon-right ion-play">Start Countdown</button>
  </ion-content>
</ion-view>