<ion-view title="Countdown" id="page8" class="invisibile">
  <ion-nav-buttons side='left' class="button-clear">
    <button class="button icon ion-arrow-left-c" ng-click="uscita()"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <img ng-if="done" id="originalPicture" style="height: 0;"/>
    <div class="progress-wrapper" style="color:white; text-shadow: 0px 2px 10px black;" ng-init="selectTimer(10)"
         ng-hide="done">
      <div class="progress">
        {{humanizeDurationTimer(timer,'s')}}
      </div>
      <div round-progress max="timeForTimer" current="timer" clockwise="false" color="#40A6FA" rounded="true"
           class="text-center" stroke="7"></div>
    </div>
    <div ng-if="!started && !paused && !done" style="margin-top: 60%">
      <div class="row">
        <div class="col">
          <button ng-show="event.users.admin == uid" class="button customButton button-rounded button-block icon-right ion-ios-play-outline" ng-click='startTimer()'>
            Start Countdown
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
