<ion-view title="Create Shared Event" id="page3">
  <ion-content padding="true" ng-controller="createSharedEventCtrl" class="backgroundGradient">
    <div id="createSharedEventContentId" ng-click="choosePhoto()" class="sharedEventIcon">
      <i ng-show="imgURI == undefined" class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      <img class="sharedEventIcon" ng-show="imgURI !== undefined" src="{{imgURI}}" width="100%" height="100%" style="vertical-align: middle;"/>
    </div>
    <form style="margin-top: 5%" id="createSharedEvent-form3" name="createSharedEventForm"
          class="list" ng-class="{'submitted':submitted}"
          ng-submit="submitData(event)" novalidate>
      <label style="border-radius: 5px 5px 0 0;" class="item item-input form-transparent" id="createSharedEvent-input7" name="eventNameShared">
        <span class="input-label">Event Name:</span>
        <input type="text" name="nameSharedEvent" ng-model="event.nameSharedEvent" required placeholder="">
      </label>
      <label class="item item-input form-transparent" id="createSharedEvent-textarea2" name="description">
        <span class="input-label">Description:</span>
        <input type="text" name="descriptionSharedEvent" ng-model="event.description" placeholder="(optional)">
      </label>
      <label class="item item-input form-transparent" id="createSharedEvent-input11" name="startDate">
        <span class="input-label">Start Date:</span>
        <input ng-model="event.startDate" type="date" required placeholder="">
      </label>
      <p ng-show="(event.startDate | date:'dd/MM/yyyy') < date">Start Date Error</p>
      <label class="item item-input form-transparent" id="createSharedEvent-input14" name="startTime">
        <span class="input-label">Start Time:</span>
        <input ng-model="event.startTime" type="time" required placeholder="">
      </label>
      <label class="item item-input form-transparent" id="createSharedEvent-input13" name="endDate">
        <span class="input-label">End Date:</span>
        <input ng-model="event.endDate" type="date" required placeholder="">
      </label>
      <p ng-show="event.startDate > event.endDate">End Date < Start Date</p>
      <label style="border-radius: 0 0 5px 5px;" class="item item-input form-transparent" id="createSharedEvent-input12" name="endTime">
        <span class="input-label">End Time:</span>
        <input ng-model="event.endTime" type="time" required placeholder="">
      </label>
      <div ng-show="createSharedEventForm.startDate < createSharedEventForm.endDate">StartDate > endDate</div>
      <button type="submit" ng-click="submitted=true;"  id="createSharedEvent-button10" class="button button-calm  button-block icon ion-android-add"> Create</button>
    </form>
  </ion-content>
</ion-view>
