<ion-view title="Create Live Event" hide-back-button="true" id="page2">
  <ion-content padding="true" class="backgroundGradient">
    <form id="createLiveEvent-form4">
      <label style="border-radius: 5px 5px 0 0;" class="item item-input" id="createLiveEvent-input9" name="eventNameLive">
        <span class="input-label">Event Name:</span>
        <input type="text" placeholder="Insert an event name" ng-model="liveEvent.name" ng-change="activateEventButton()">
      </label>
      <ion-item style="border-radius: 0 0 5px 5px;" class="range range-positive" id="createLiveEvent-range1">Range:
        <input type="range" value="100" min="10" max="500" step="10" ng-change="slideChange(liveEvent)" ng-model="liveEvent.range">
        {{liveEvent.range}}m
      </ion-item>
    </form>
    <div id="map" class="mapContainer"></div>
    <div id="createLiveEvent-button-bar2" class="button-bar">
      <button id="createEventButton" ng-click="startLiveEvent(liveEvent)" ng-disabled="isDisabled" class="button button-calm  button-block icon-right ion-ios-play-outline">
        Start Live Event
      </button>
    </div>
  </ion-content>
</ion-view>
