<ion-view title="Event Info" id="page11">

 <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>

  <ion-nav-buttons side="right" class="has-header">
    <button ng-show="obj.role === 'admin'" class="button icon ion-edit" ng-click="edit()"></button>
  </ion-nav-buttons>

 <!-- <div class="bar bar-header">
    <button class="button icon ion-navicon"></button>
    <h1 class="title">Header Buttons</h1>
    <button class="button" ng-click="edit()">Edit</button>
  </div>
  -->




  <div class="spacer" style="width: 300px; height: 60px;"></div>


  <ion-content  padding="true" class="has-header">
    <div id="eventInfoId"style="margin: 0px; line-height: 250px;  background: linear-gradient(to bottom right, darkblue, deepskyblue); text-align: center;">
      <h1 class="textH1 animated bounceInDown">{{obj.title}}</h1>
      <h2  class="textH2">{{obj.description}}</h2>

      <img ng-show="obj.src !== undefined" src="{{obj.src}}" width="200" height="200"style="border: 1px solid white;
    padding: 15px; border-radius: 30%; text-align: center; text-shadow: 2px 2px 4px #000000;">

      <div class = "row">
        <div class = "col text-center">
          <h3 class="textH3">Start date: </h3>
          <h2>{{obj.start}}</h2>
        </div>
        <div class = "col text-center">
          <h3 class="textH3">Start time: </h3>
            <h2>{{obj.startTime}}</h2>
        </div>
      </div>

      <div class = "row">
        <div class = "col text-center">
          <h3 class="textH3">End date:</h3>
          <h2>{{obj.end}}</h2>
        </div>
        <div class = "col text-center">
          <h3 class="textH3">End time:</h3>
          <h2>{{obj.endTime}}</h2>
        </div>
      </div>

      <img ng-show="imgURI !== undefined" src="{{imgURI}}" width="300" height="300"style="text-align: center">
    </div>
    <button class="button button-calm  button-block icon ion-camera" ng-click="takePhoto()">Selfie</button>
    <button ng-show="takeImage" class="button button-calm  button-block icon ion-camera" ng-click="sharePhoto()">Share</button>

    <!-- <a ui-sref="menu.camera" id="eventInfo-button47" class="button button-calm  button-block icon ion-camera"> Selfie</a> -->
    <a ui-sref="gallery" id="eventInfo-button49" class="button button-calm  button-block icon ion-ios-photos"> Gallery</a>
  </ion-content>
</ion-view>
