<ion-view cache-view="false" title="Selfie Events" hide-back-button="true" id="page1" style="background: url(img/sfondoProva2.png) no-repeat center bottom;background-size:150%; height:100%">
  <ion-content style="background-image: -webkit-linear-gradient(bottom left, transparent  13%, #dfdee4 38%, #87dfff 76%)">
      <ion-list id="home-list4" class="list">
        <ion-item ng-repeat="event in eventList" class="item-thumbnail-left listItem" id="home-list-item9" ui-sref="menu.eventInfo" ng-click="goTo('{{event}}')">
          <img src="{{event.src}}">
          <h2>{{event.title}}</h2>
          <div style="color:#565656; font-size:0.8em; white-space:normal;">{{event.description}}
            <div>start: {{event.start}} {{event.timeStart}}</div>
            <div>end: {{event.end}} {{event.timeEnd}}</div>
          </div>

        </ion-item>
      </ion-list>
</ion-view>
</ion-content>
