<ion-view cache-view="false" title="Home" hide-back-button="true" id="page1">
 <ion-content>

 <ion-list id="home-list4">
    <ion-item ng-repeat="event in eventList"class="item-thumbnail-left" id="home-list-item9"
              ui-sref="menu.eventInfo" ng-click="goTo('{{event}}')">
      <img src="{{event.src}}">
      <h2 >{{event.title}}</h2>
      <p style="white-space:normal;">{{event.description}}</p>

    </ion-item>
  </ion-list>

   <button ng-click="coordinate()">Coordinate</button>
   <button ng-click="all()">all</button>

   <button ng-click="stop()">stop</button>
</ion-view>
</ion-content>
