<ion-side-menus enable-menu-with-back-views="true" ng-init="init()">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-dark">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" style="background: url(img/sfondoMenu.jpg) no-repeat center;background-size:cover;" class="side-menu-left has-header ">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">

      </div>

<div align="middle">
  <img ng-src="{{profileData.picture.data.url}}" height="150" width="150">
  <h3 style="font-size:200%">{{profileData.name}}</h3>

</div>

      <div class="spacer" style="width: 248px; height: 100px;"></div>

      <ion-list id="menu-list1">
        <ion-item class="item-icon-right  side-menu-item" id="menu-list-item1" ui-sref="menu.home" menu-close="">Home
          <i class="icon ion-home"></i>
        </ion-item>
        <ion-item class="item-icon-right  side-menu-item" id="menu-list-item2" ui-sref="menu.createLiveEvent" menu-close="">Live Event
          <i class="icon ion-android-add"></i>
        </ion-item>
        <ion-item class="item-icon-right  side-menu-item" id="menu-list-item3" ui-sref="menu.createSharedEvent" menu-close="">Shared Event
          <i class="icon ion-android-add"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
