<ion-side-menus enable-menu-with-back-views="true" ng-init="init()">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" scroll="false" style="background: url(img/sfondoMenu.jpg) no-repeat center; background-size: cover;" class="side-menu-left">

      <div align="middle" style="margin-bottom: 15%; margin-top: 20%">
        <img ng-src="{{profileData.picture.data.url}}"
             style="border-radius: 50%;" height="150" width="150">
        <h1 style="font-size: 200%; color: white; text-shadow: 0px 5px 5px #0d3e50">{{profileData.name}}</h1>
      </div>

      <ion-item class="item-icon-right menuItem side-menu-item" id="homeButton" ui-sref="menu.home" menu-close="">
        Show Events <i class="icon ion-android-camera"></i>
      </ion-item>
      <ion-item class="item-icon-right menuItem side-menu-item" id="liveEventButton" ui-sref="menu.createLiveEvent" menu-close="">
        New Live Event <i class="icon ion-android-add"></i>
      </ion-item>
      <ion-item class="item-icon-right menuItem side-menu-item" id="sharedEventButton" ui-sref="menu.createSharedEvent" menu-close="">
        New Shared Event <i class="icon ion-android-add"></i>
      </ion-item>
      <ion-item class="item-icon-right menuItem side-menu-item" id="logoutButton" ui-sref="menu.home" log-out menu-close="">
        Log Out <i class="icon ion-log-out"></i>
      </ion-item>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
