<ion-view title="Signup" id="page5">
  <ion-nav-buttons side="right">
    <button class="button icon ion-close"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
    <form id="signup-form2" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Email:</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Username:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input10">
          <span class="input-label">Confirm Password:</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="menu.home" id="signup-button3" class="button button-calm  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>
