<ion-view title="Store" id="page6">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-close"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="store-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#3B00FF;font-size:20px;">
        <strong>Increase the number of partecipants with one of the following packages:</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <div id="store-button-bar3" class="button-bar">
      <button id="store-button28" style="border-radius:25px 25px 25px 25px;" class="button button-calm  button-block icon-right ion-android-person-add">10€ x 50</button>
      <button id="store-button29" style="border-radius:25px 25px 25px 25px;" class="button button-calm  button-block icon-right ion-android-person-add">15€ x 100</button>
    </div>
    <div id="store-button-bar6" class="button-bar">
      <button id="store-button42" style="border-radius:25px 25px 25px 25px;" class="button button-calm  button-block icon-right ion-android-person-add">25€ x 200</button>
      <button id="store-button43" style="border-radius:25px 25px 25px 25px;" class="button button-calm  button-block icon-right ion-android-person-add">35€ x 300</button>
    </div>
    <div id="store-button-bar7" class="button-bar">
      <button id="store-button44" style="border-radius:25px 25px 25px 25px;" class="button button-calm  button-block icon-right ion-android-person-add">50€ x 500</button>
      <button id="store-button45" style="border-radius:25px 25px 25px 25px;" class="button button-calm  button-block icon-right ion-android-person-add">100€ x 1000</button>
    </div>
    <div class="spacer" style="width: 300px; height: 70px;"></div>
    <button id="store-button34" style="border-radius:25px 25px 25px 25px;" class="button button-calm  button-block icon ion-android-person-add">Free: 15 </button>
  </ion-content>
</ion-view>