/* Empty. Add your own CSS if you like */
.submitted .ng-invalid{
  border: 1px solid;
  border-color: lightcoral;
}

html{
  background-color: transparent;
}

.eventTitle{
  text-transform: capitalize;
}

.item-complex.item-icon-right .item-content{
  background: rgba(63, 107, 127, 0.68);
}

.side-menu-item{
  font-weight: bold;
}

.menuItem{
  padding: 0px 4px 3px 4px;

}

.eventIcon{
  box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.3);
  margin: 10px 5px;
  border-radius: 25%;
  width: 110px;
  height: 110px;
}

.listItem{
  background: transparent;
  border: none;
}

.list{
  background: transparent;
  margin-top: 6px;
}

.item-complex .item-content, .item-radio .item-content{
  background-color: rgba(255,255,255,0.65);
  margin: 4px 6px;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.labels{
  color: darkblue;
}

.animationchangeColor{
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: changeColor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes changeColor {
  0%   {color:red; left:0px; top:0px;}
  25%  {color:yellow; left:200px; top:0px;}
  50%  {color:red; left:200px; top:200px;}
  75%  {color:yellow; left:0px; top:200px;}
  100% {color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes changeColor {
  0% {
    color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    color: red;
    left: 200px;
    top: 200px;
  }
  75% {
    color: yellow;
    left: 0px;
    top: 200px;
  }
  100% {
    color: red;
    left: 0px;
    top: 0px;
  }
}

.progress-wrapper{
  position: relative;
  margin:20px auto;
  font-size: 21px;
}
.progress{
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 9em;
  font-size:1em;
  text-align: center;
  font-weight: 100;
}

.invisibile{
  background-color: transparent
}
